/* General Styles
   -------------- */

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/* Page Subtitle */
h1 {
	display: inline;
	margin: 0;
	padding: 0;
	font-family: "Gill Sans", "Trebuchet MS", Calibri, sans-serif;
}

#content {
	position: relative;
	margin-top: 60px; /* Height + padding of the header */
	margin-bottom: 50px; /* Height + padding of the footer */
	width: 100%;
	background-color: #fff;
}

label {
	display: inline-block;
}


/* Header Styles
   ------------- */

header {
	background-color: #ccc;
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
	height: 40px;
	text-align: center;
	padding: 10px;
	z-index: 1;
}

nav {
	display: inline;
	margin: 0;
	padding: 0;
}

nav ul {
	display: inline;
}

nav li {
	display: inline;
	list-style: none;
}

nav li a {
	padding: 8px 15px;
	color: #069;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

nav li a:hover {
	color: #c00;
}


/* Mixer Styles
   -------------------- */

#track_controls {
	position: fixed;
	left: 0;
	padding-top: 15px;
	width: 530px;
	background-color: #fff;
}

.mixer {
	/* Centering vertically is off by 40-ish pixels.
	   Not sure why, so here's a temporary hack to fix it. */
	border-bottom: 1px solid #ccc;
	height: 100px;
	padding-bottom: 40px;
	padding-left: 15px;
}

.mixer:last-child {
	border-bottom: none;
}

.equalizer, .volume, .effect {
	display: inline;

	/* Center the controls vertically. */
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.equalizer {
	margin-right: 22px;
}

.volume {
	margin-right: 15px;
}

.effect {
	margin-right: 15px;
}

input[type="number"] {
	width: 40px;
}


/* Waveform Styles
   --------------- */

#track_waveforms {
	margin-left: 540px;
	width: 100%;
	padding-top: 15px;
}

.track {
	padding-right: 15px;
	height: 125px;
	border-bottom: 1px solid #ccc;
	line-height: 40px;
	display: inline-table;
}

.track:last-child {
	border-bottom: none;
}


/* Footer Styles
   ------------- */

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	background-color: #ccc;
	vertical-align: middle;
	text-align: center;
}

.master_play, .master_volume, .preset_list {
	display: inline;
}

.master_play {
	margin-right: 90px;
	margin-left: 15px;
}

.master_volume {
	margin-right: 50px;
}

.preset_list {
	margin-left: 5px;
}