@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:600);


/* General Styles
   -------------- */

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #bbb;
}

/* Page Subtitle */
h1 {
	display: inline;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: "Source Sans Pro", Helvetica, "Helvetica Neue", Arial, sans-serif;
}

#content {
	position: relative;
	margin-top: 50px; /* Height + padding of the header */
	margin-bottom: 70px; /* Height + padding of the footer */
	width: 100%;
}

input {
	vertical-align: middle;
}

input[type="range"] {
	width: 135px;
}


/* Header Styles
   ------------- */

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	padding: 10px;
	height: 40px;
	background: rgb(59,59,59);
	background: -moz-linear-gradient(top, rgb(80,80,81) 0%, rgb(59,59,59) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgb(80,80,81) 0%,rgb(59,59,59) 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, rgb(80,80,81) 0%,rgb(59,59,59) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(80,80,81) 0%,rgb(59,59,59) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(80,80,81) 0%,rgb(59,59,59) 100%); /* W3C */
	background-color: #ccc;
	box-shadow: 1px 0 2px 2px #222;
	text-align: center;
}

nav {
	display: inline;
	margin: 0;
	padding: 0;
}

nav ul {
	display: inline;
}

nav li {
	display: inline;
	list-style: none;
}

nav li a {
	padding: 8px 15px;
	color: #069;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

nav li a:hover {
	color: #c00;
}


/* Track Controls
   -------------- */

#track-controls {
	position: fixed;
	left: 0;
	padding-top: 15px;
	width: 475px;
   background: rgb(131,131,131);
	box-shadow: 0 1px 3px 2px #444;
}

.mixer {
	position: relative;
	padding: 10px 15px;
	height: 75px;
	border-bottom: 1px solid #333;
	background: rgb(104,104,104);
	background: -moz-linear-gradient(top, rgb(131,131,131) 0%, rgb(104,104,104) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgb(131,131,131) 0%, rgb(104,104,104) 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, rgb(131,131,131) 0%, rgb(104,104,104) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(131,131,131) 0%, rgb(104,104,104) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(131,131,131) 0%, rgb(104,104,104) 100%); /* W3C */
}

.mixer:last-child {
	border-bottom: none;
}

.track-name {
	position: absolute;
	top: 10px;
	left: 490px; /* Width of track-waveforms + 15px */
	display: inline;
	width: 100%;
}

.track-name span {
	padding: .1em .3em;
	border-radius: 3px;
	color: #fff;
	font-size: .75em;
	text-shadow: #555 1px 1px 2px;
	font-weight: bold;
}

.v-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.eq_low,
.eq_med,
.eq_high,
.mute-solo,
.equalizers,
.volume-balance {
	display: inline-block;
	margin: 4px;
	color: #fffafa;
	vertical-align: middle;
	font-weight: bold;
}

.eq_low label,
.eq_med label,
.eq_high label
{
	display: block;
	text-align: center;
	text-shadow: #555 0px 1px 2px;
	font-weight: bold;
}

.eq_low,
.eq_med,
.eq_high {
	margin-right: 15px;
}

.equalizers {
	margin-right: 5px;
}

.volume-balance label {
	text-shadow: #555 0px 1px 2px;
}

#master-volume img,
.volume-balance img {
	vertical-align: middle;
}

.balance {
	padding-bottom: 15px;
	padding-left: 1px;
}


/* Mute and Solo Switch
   -------------------- */
.mute-solo {
	margin-left: 15px;
}

.mute-solo button {
	display: block;
	margin: 10px;
	width: 30px;
	height: 30px;
	border: 1px solid #444;
	background-color: #555;
	text-align: center;
	font-size: .95em;
	outline: none;
}

.solo-button.active {
	background-color: #2ecc71;
	color: #114427;
}

.mute-button.active {
	background-color: #f47669;
	color: #4f1914;
}


/* Waveform Styles
   --------------- */

#track-waveforms {
	margin-left: 475px;
	padding-top: 15px;
	width: 100%;
}

.track {
	display: inline-table;
	padding: 10px 10px;
	height: 75px;
	border-bottom: 1px solid #aaa;
	line-height: 0; /* Keeps the height measurements honest */
}

.track:last-child {
	border-bottom: none;
}

.waveform {
	padding: 15px 5px 5px 5px;
	height: 53px;
	border: 1px solid rgba(0,0,0,.25);
	border-radius: 10px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%); /* W3C */
	box-shadow: 0 0 2px 0 #888;
}

/* Waveform Colors */
.wf-green {
	background-color: rgba(46,204,113,.50);

}

.wf-blue {
	background-color: rgba(52,152,219,.50);
}

.wf-purple {
	background-color: rgba(155,89,182,.50);
}

.wf-yellow {
	background-color: rgba(255,255,0,.5)
}

.wf-orange {
	background-color: rgba(255,165,0,.5);
}

.wf-red {
	background-color: rgba(231,76,60,.50);
}


/* Footer Styles
   ------------- */

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px;
	height: 50px;
	background: rgb(59,59,59);
	background: -moz-linear-gradient(top, rgb(80,80,81) 0%, rgb(59,59,59) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgb(80,80,81) 0%, rgb(59,59,59) 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, rgb(80,80,81) 0%, rgb(59,59,59) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(80,80,81) 0%, rgb(59,59,59) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(80,80,81) 0%, rgb(59,59,59) 100%); /* W3C */
	box-shadow: -1px 0 3px 2px #222;
	color: #fff;
	text-align: center;
}

#master-play,
#master-volume,
#master-scrubber {
	display: inline;
	margin-top: 205px;
}

#master-play {
	margin: 0 50px;
}

#master-play input {
	outline: none;
}
