@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:600);

/* General Styles
   -------------- */

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/* Page Subtitle */
h1 {
	display: inline;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: "Source Sans Pro", Helvetica, "Helvetica Neue", Arial, sans-serif;
}

#content {
	position: relative;
	margin-top: 50px; /* Height + padding of the header */
	margin-bottom: 50px; /* Height + padding of the footer */
	width: 100%;
	background-color: #fff;
}

label {
	display: inline-block;
}

input {
	vertical-align: middle;
}


/* Header Styles
   ------------- */

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	padding: 10px;
	height: 40px;
	background: rgb(59,59,59);
	background: -moz-linear-gradient(top, rgb(80,80,81) 0%, rgb(59,59,59) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgb(80,80,81) 0%,rgb(59,59,59) 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, rgb(80,80,81) 0%,rgb(59,59,59) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(80,80,81) 0%,rgb(59,59,59) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(80,80,81) 0%,rgb(59,59,59) 100%); /* W3C */
	background-color: #ccc;
	box-shadow: 1px 0 5px 2px #000;
	text-align: center;
}

nav {
	display: inline;
	margin: 0;
	padding: 0;
}

nav ul {
	display: inline;
}

nav li {
	display: inline;
	list-style: none;
}

nav li a {
	padding: 8px 15px;
	color: #069;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

nav li a:hover {
	color: #c00;
}


/* Track Controls
   -------------- */

#track-controls {
	position: fixed;
	left: 0;
	padding-top: 15px;
	width: 530px;
   background: rgb(131,131,131);
	box-shadow: 0 1px 5px 2px rgb(52,52,53);
}

.mixer {
	padding: 10px 15px;
	height: 75px;
	border-bottom: 1px solid #333;
   background: rgb(104,104,104);
   background: -moz-linear-gradient(top, rgb(131,131,131) 0%, rgb(104,104,104) 100%); /* FF3.6+ */
   background: -webkit-linear-gradient(top, rgb(131,131,131) 0%, rgb(104,104,104) 100%); /* Chrome10+, Safari5.1+ */
   background: -o-linear-gradient(top, rgb(131,131,131) 0%, rgb(104,104,104) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, rgb(131,131,131) 0%, rgb(104,104,104) 100%); /* IE10+ */
   background: linear-gradient(to bottom, rgb(131,131,131) 0%, rgb(104,104,104) 100%); /* W3C */
   position: relative;
}

.mixer:last-child {
	border-bottom: none;
}

.track-name {
	position: absolute;
	top: 5px;
	left: 540px;
	display: inline;
	width: 100%;
}

.track-name span {
	padding: .1em .3em;
	border-radius: 3px;
	background-color: rgba(193,229,247,.75);
	color: #222;
	font-size: .75em;
}

.v-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.eq_low,
.eq_med,
.eq_high,
.mute-solo,
.volume {
	display: inline-block;
}

.eq_low,
.eq_med,
.eq_high {
	margin-right: 15px;
}

.volume {
	margin-right: 10px;
	width: 135px;
}


/* Mute and Solo Switch
   -------------------- */

.onoff {
	position: relative;
	width: 58px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.onoff input {
	display: none;
}

.onoff-label {
	position: relative;
	display: block;
	overflow: hidden;
	border: 2px solid #999;
	border-radius: 20px;
	cursor: pointer;
}

.onoff-inner {
	margin-left: -100%;
	width: 200%;
	-webkit-transition: margin 0.3s ease-in 0s;
	-moz-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s;
	transition: margin 0.3s ease-in 0s;
}

.onoff-inner:before, .onoff-inner:after {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	width: 50%;
	height: 16px;
	color: white;
	font-weight: bold;
	font-size: 12px;
	font-family: Trebuchet, Arial, sans-serif;
	line-height: 16px;
}

.onoff-inner:before {
	padding-left: 10px;
	background-color: #2fccff; color: #fff;
	content: "ON";
}

.onoff-inner:after {
	padding-right: 10px;
	background-color: #eee;
	color: #999;
	content: "OFF";
	text-align: right;
}

.onoff-switch {
	position: absolute;
	top: 0;
	right: 38px;
	bottom: 0;
	margin: 3px;
	width: 5px;
	border: 2px solid #999;
	border-radius: 10px;
	background: #fff;
	-webkit-transition: all 0.3s ease-in 0s;
	-moz-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
}

.onoff input:checked + .onoff-label .onoff-inner {
	margin-left: 0;
}

.onoff input:checked + .onoff-label .onoff-switch {
	right: 0px;
}


/* Waveform Styles
   --------------- */

#track-waveforms {
	margin-left: 530px;
	padding-top: 15px;
	width: 100%;
}

.track {
	display: inline-table;
	padding: 10px 15px;
	height: 75px;
	border-bottom: 1px solid #ccc;
	line-height: 0; /* Keeps the height measurements honest */
}

.track:last-child {
	border-bottom: none;
}


/* Footer Styles
   ------------- */

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px;
	height: 50px;
	background: rgb(59,59,59);
	background: -moz-linear-gradient(top, rgb(80,80,81) 0%, rgb(59,59,59) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgb(80,80,81) 0%, rgb(59,59,59) 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, rgb(80,80,81) 0%, rgb(59,59,59) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(80,80,81) 0%, rgb(59,59,59) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(80,80,81) 0%, rgb(59,59,59) 100%); /* W3C */
	box-shadow: -1px 0 5px 2px #000;
	color: #fff;
	text-align: center;
}

#master-play,
#master-volume,
#preset-list {
	display: inline;
	margin-top: 205px;
}

#master-play {
	margin: 0 20px;
}

#master-play input {
	width: 50px;
	height: 50px;
	outline: none;
}

#preset-select {
	color: #000;
}